body {
    /* background-color: #72bd6a; */
    background: rgb(96,255,204);
    background: linear-gradient(90deg, rgba(96,255,204,1) 0%, rgba(0,134,59,1) 100%);
}

.archive_title {
    padding-right: 56px;
}

.btn-row {
    width: 100%;
    margin: 0 auto;
}

.img {
    height: 30vw;
    text-align: center;
}

.dGreen {
    color: #32662d;
}

.mGreen {
    background-color: #72bd6a;
}

.lGreen {
    background-color: #dbf2d8;
}

.title_container {
    width: 50%;
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: rgba(255,255,255,.50);
    border: none;
    border-radius: 15px;

}

.triplog_title {
    margin-bottom: 10%;
    font-size: 6vw;
}

.no_select:hover {
    cursor: default;
}

.no_select {
    user-select: none;
}

.log_card {
    width : 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255,255,255,.50);
    border: none;
    border-radius: 15px;
}

.note {
    background-color: rgba(255,255,255,.50);
    border: none;
    border-radius: 10px;
    padding: 1%;
    width : 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.answer {
    background-color: rgba(255, 224, 253,.85);
    border: none;
    border-radius: 10px;
    padding: 1%;
    width : 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

#note_container {
    margin-bottom: 80px;
}

.timestamp {
    color: rgba(0,0,0,.5);
}

.send_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}

.attach_btn{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3);
    border:0 !important;
    color: white !important;
    cursor: pointer;
}

.type_note{
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px;
    resize: none;
    overflow: hidden;
}
.type_msg:focus{
    box-shadow: none !important;
    outline: 0 !important;
}

.form_input {
    width: 100%;
}

.form_div {
    width: 70%;
    margin: 0 auto;
}

.rm_dose:hover, .add_dose:hover {
    cursor: pointer;
}
.rm_dose, .add_dose, .dose_label {
    color: #000;
    font-size: 18px;
}

.dose_label:hover {
    cursor: default;
}

.drug_dropdown {
    outline-width: 0;
}

.modal-body {
    background: linear-gradient(90deg, rgba(96,255,204,1) 0%, rgba(0,134,59,1) 100%);
}

.modal-header, .modal-footer {
    background-color: #343a40;
    color: #fff;
}

.modal-title {
    text-align: center;
}

.edit_note_input {
    border-radius: 15px 15px 15px 15px !important;
}

.x {
    color: #fff
}