<!-- home.html | landing page -->
{% extends 'base.html' %}

{% block content %}
<div class="title_container card text-center mx-auto">
    <div class="card-body">
        <h1 class="triplog_title card-title text-center no_select">TripLog</h1>
        <button type="button" class="btn btn-light m-2" onclick="location.href='/archive';">Archive</button>
        <button type="button" class="btn btn-success m-2" onclick="location.href='/begin';">New Log</button>
        <button type="button" class="btn btn-light m-2" onclick="">Options</button>
    </div>
</div>
{% endblock %}
