<!-- Edit Description Modal -->
<div class="modal fade" id="editDescModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Dose</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="dose_wrapper">
                    <form method="POST" id="edit_desc_form" action="/logs/{{ log._id }}">
                        <div class="form_div mb-3">
                            <label class='form_label' for='form_title'>Log Title</label><br>
                            <input class='form-control form_input' id='form_title' type='text' name='title' placeholder='Experience Title' value="{{ log.title }}"/>
                        </div>

                        <div class="form_div mb-3">
                            <label class='form_label' for='form_desc'>Description</label><br>
                            <input class='form-control form_input' id='form_desc' type='text' name='desc' placeholder='Any extra info?' value="{{ log.desc }}"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>
                <button type='submit' name="update_btn" value="edit_desc" form="edit_desc_form" class='btn btn-success mt-2 float-right'>Update</button>
            </div>
        </div>
    </div>
</div>