<!-- Help Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">need help?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary m-3" onclick="window.open('https://chat.tripsit.me/')">Need to talk to someone?</button>
                <button type="button" class="btn btn-primary m-3" onclick="window.open('https://wiki.tripsit.me/images/3/3a/Combo_2.png')">Drug Interaction Chart</button>
                <button type="button" class="btn btn-primary m-3" onclick="window.open('https://www.reddit.com/r/ReagentTesting/wiki/how_to_reagent_test')">How to Reagent Test</button>
            </div>
        </div>
    </div>
</div>